DATABASE_URL=""    # Prisma postgress accelerate connection client string (e.g: `prisma+postgres://accelerate.prisma-data.net/?api_key=API_KEY`), see https://www.prisma.io/docs/orm/reference/connection-urls#via-prisma-accelerate-http
GRAVATAR_APIKEY="" # Gravatar API key, see: https://docs.gravatar.com/rest/getting-started/

TELEGRAM_BOT_TOKEN="" # Telegram bot token, see: https://core.telegram.org/bots#how-do-i-create-a-bot
TELEGRAM_USER_ID=""   # Telegram user ID, see: https://google.com/search?q=how+to+find+telegram+user+id
